@model MVCConfigurator.UI.Models.ProductModel

<div class="product">
    @Html.HiddenFor(m => m.Id)
    <a href="@Url.Action("SelectParts", "Home", new { id = Model.Id })"><img src="@Url.Content(@Model.Image.ImagePath)" style="height:100px;width:100px;" alt="@Model.Category  .img" /></a>
    <br />
    <span class="product-text">@Model.Category</span>
</div>

<style>
    .product:hover {
        border: 1px solid #C0C0C0;
    }

    .product {
        border: 1px solid transparent;
        text-align: center;
        display: inline-block;
        padding: 5px;
    }

        .product img {
            display: block;
        }

    .product-text {
        display: block;
        font-weight: bold;
    }
</style>