@model MVCConfigurator.UI.Models.ProductViewModel
@{
    ViewBag.Title = "CreateProduct";
}

<h2>CreateProduct</h2>
@*<form action="/home/upload" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <label for="photo">Photo:</label>
    <input type="file" name="photo" id="photo" />

    <input type="submit" value="Upload" />
</form>*@

@using(Html.BeginForm("CreateProduct", "Admin", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Category)
                @Html.ValidationMessageFor(model => model.Product.Category)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Product.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Product.Image.ImageUpload, new { type="file" })
                @Html.ValidationMessageFor(model => model.Product.Image.ImageUpload)
            </div>
        </div>
        @*<input type="file" id="Product_Image__ImageUpload" name="Product.Image.ImageUpload" /><br />*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Product" class="btn btn-default" />
            </div>
        </div>
    </div>
}


