@model MVCConfigurator.UI.Models.PartViewModel
@{
    ViewBag.Title = "Edit Part";
}
<h2>Edit Part</h2>

@Html.ActionLink("Back to product part list", "ProductPartList", new { id = Model.ProductId })

<hr />

@using(Html.BeginForm("EditPart", "Home", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.PartDetails.Id)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.PartDetails.Category, "New Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PartDetails.Category, new { disabled = "disabled" })
                @Html.ValidationMessageFor(m => m.PartDetails.Category)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PartDetails.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PartDetails.Name)
                @Html.ValidationMessageFor(m => m.PartDetails.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PartDetails.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PartDetails.Price)
                @Html.ValidationMessageFor(m => m.PartDetails.Price)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PartDetails.LeadTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PartDetails.LeadTime)
                @Html.ValidationMessageFor(m => m.PartDetails.LeadTime)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PartDetails.StockKeepingUnit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.PartDetails.StockKeepingUnit)
                @Html.ValidationMessageFor(m => m.PartDetails.StockKeepingUnit)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PartDetails.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PartDetails.Image.PartImageUpload, new { type="file" })
                @Html.ValidationMessageFor(m => m.PartDetails.Image.PartImageUpload)
            </div>
        </div>
        <br />
        <input type="submit" value="Update Part" class="btn btn-default" />
        
    </div>
    <hr />
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Name</th>
                <th>Price</th>
                <th>Lead Time</th>
                <th>SKU</th>
                <th>Image Path</th>
                <th>Is Incompatible</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < Model.ExistingParts.Count(); i++)
            {
                <tr>
                    <td>@Html.HiddenFor(m => m.ExistingParts[i].Id)</td>
                    <td>@Model.ExistingParts[i].Category</td>
                    <td>@Model.ExistingParts[i].Name</td>
                    <td>@Model.ExistingParts[i].Price</td>
                    <td>@Model.ExistingParts[i].LeadTime</td>
                    <td>@Model.ExistingParts[i].StockKeepingUnit</td>
                    <td><img src="@Url.Content(Model.ExistingParts[i].Image.PartImagePath)" style="width:100px;height:100px;"/></td>
                    <td>@Html.CheckBoxFor(m => m.ExistingParts[i].IsIncompatible)</td>
                </tr>
            }
        </tbody>
    </table>
    
}


<script type="text/javascript">
    $("#PartDetails_CategoryId").change(function () {
        var value = $(this).val();

        if (value != "") {
            $("#PartDetails_Category").val("");
            $("#PartDetails_Category").attr("disabled", "disabled");
        }
        else {
            $("#PartDetails_Category").removeAttr("disabled", "disabled");
        }
    });
</script>
